In [3]:
t=[('a', 24), ('b', 10), ('c', 28), ('d', 5), ('e', 20), ('f', 15)] 
l= len(t)  
for i in range(0, l):          
  for j in range(0, l-i-1):  
    if (t[j][1] > t[j + 1][1]):  
        temp = t[j]  
        t[j]= t[j + 1]  
        t[j + 1]= temp  
print(t)

[('d', 5), ('b', 10), ('f', 15), ('e', 20), ('a', 24), ('c', 28)]

In [8]:
t=[(1,2),(4,5,6),(3,),(12,30),(4,5),(49,68,100),(55,),(38,62,99)]
n=2
x = [i for i in t if len(i)!=n]
print(str(x))

[(4, 5, 6), (3,), (49, 68, 100), (55,), (38, 62, 99)]

In [11]:
t=([5, 6], [1, 2, 3, 4], [7])
x = tuple(sum(t, []))
print(str(x))

(5, 6, 1, 2, 3, 4, 7)

In [14]:
t=((1,2),(4,5,6),(3,),(12,30),(4,5),(49,68,100),(55,),(38,62,99))
print(str(t.__sizeof__()) +"bytes")

88bytes

In [16]:
l=[1,2,3,4]
t=(5,6,7,8)
l+=t
print(str(l))

[1, 2, 3, 4, 5, 6, 7, 8]