In [2]:
n=int(input())
x=map(int, input().split())
b=int(input())
y=map(int, input().split())
s1=set(x)
s2=set(y)
s3=s1.union(s2)
print(len(s3))

5
1 2 3 4 5
6
6 7 8 9 10 11
11

In [3]:
n=int(input())
x=map(int,input().split())
b=int(input())
y=map(int,input().split())
s1=set(x)
s2=set(y)
s3=s1.intersection(s2)
print(len(s3))

5
1 2 3 4 5
6
6 7 8 9 10 11
0

In [4]:
n=int(input())
x=map(int,input().split())
b=int(input())
y=map(int,input().split())
s1=set(x)
s2=set(y)
s3=s1.difference(s2)
print(len(s3))

5
1 2 3 4 5
5
1 3 5 7 9
2

In [6]:
n=int(input())
x=map(int,input().split())
b=int(input())
y=map(int,input().split())
s1=set(x)
s2=set(y)
s3=s1.symmetric_difference(s2)
print(len(s3))

5
1 2 3 4 5
5
1 3 5 7 9
4

In [8]:
for i in range(int(input())):
  x, a, z, b = input(), set(input().split()), input(), set(input().split())
  print(a.issubset(b))

2
3
1 2 3
3
1 3 5
False
1 2 3 4 5
1 2 3 4 5 6 7
1 2
1
False